<div class="jumbotron">
    <p class="lead">This Web API is protected by Azure Active Directory through <code>use.UseWindowsAzureActiveDirectoryBearerAuthentication()</code>.</p>
    <p>This extension method adds Azure Active Directory issued JWT bearer token middleware to your web application pipeline.</p>
    <p>More <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-webapi-dotnet">here</a>.</p>
</div>
